body{
  font-family: Arial;
}

.todo-grid, .todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  gap: 10px;
  row-gap: 10px;
}

.todo-input-grid{
  margin-bottom: 10px;
}

.name-input, .date-input{
  font-size: 15px;
  padding: 6px;
}

.add-button{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.js-todo-delete{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}