.button{
  background-color: pink;
}

#lk{
  background-color: blueviolet;
}

body{
  font-family: arial;
}

.sub_button{
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.is_subscribed{
  background-color: white;
  color: black;
}

.input_cost{
  padding: 10px;
  font-size: 15px;
}

.cal_button{
  background-color: green;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 15px;
}